# Dependencies
node_modules/

# Builds and artifacts
dist/
build/
coverage/
.tmp/
.temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS/files
.DS_Store
Thumbs.db

# Environment and secrets
.env
.env.*

# Local IDE/editor
.vscode/
.idea/
*.swp

# Misc
*.local
